#!/bin/bash

## General
alias l='ls -lta'
alias c='cd ~/Code'
alias ports='lsof -i'
alias fin='ledger -f ~/finances/secret/ledger.dat'
alias finm='ledger -f ~/finances/secret/ledger.dat'
alias finb='ledger -f ~/finances/secret/ledger.dat -f ~/finances/secret/budgets.dat'
alias payday='~/dotfiles/payday' # todo: install payday somewhere properly
alias budget='ledger -f ~/finances/secret/ledger.dat -f ~/finances/secret/budgets.dat -p $(date +%b) budget'

function pid {
  directory=$(basename $(pwd))
  ps -ef | grep Java | grep ${directory} | awk '{print $2}'
}

function kpid {
  kill $(pid)
}

## Code
alias gosrc='cd ${GOPATH}/src/github.com/peteclark-io'
alias serve='ruby -run -ehttpd . -p9000'
